*{
    padding:0px;
    margin: 0px;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    height:20vh;
    text-align: center;
    margin: auto;
    padding: 10px;
    background-color: bisque;
}
.logo{
    background-color: bisque;
}
.logo img{
    width: 30px;
    height: 30px;
}
.container{
    margin: 20px auto;
    padding: 20px 40px;
    width: 63%;
    height: 50vh;
    border: 2px solid black;
    border-radius: 30px;
    overflow-y: scroll;
    font-size: 16px;
}
.left{
    position: relative;
    text-align: left;
    font-size: 20px;
    border: 1px solid black;
    background-color: rgb(173, 231, 231);
    border-radius: 30px;
    padding: 2px 15px;
    margin-top: 10px;
    max-width: fit-content;
    float: left;
    clear: both;
    box-shadow: 0px 4px 4px black;
}
.center{
    position: relative;
    text-align: left;
    font-size: 20px;
    border: 1px solid black;
    background-color: rgb(166, 167, 111);
    border-radius: 30px;
    padding: 2px 15px;
    margin-top: 10px;
    max-width: fit-content;
    margin :auto;
    margin-top: 10px;
    clear: both;
    box-shadow: 0px 4px 4px black;
    
}
.right{
    position: relative;
    text-align: right;
    font-size: 20px;
    border: 1px solid black;
    background-color: rgb(247, 119, 172);
    border-radius: 30px;
    padding: 2px 15px;
    margin-top: 10px;
    max-width: fit-content;
    float: right;
    clear: both;
    box-shadow: 0px 4px 4px black;
}
.post{
    margin: auto;
    background-color: rgb(234, 254, 250);
    text-align: center;
}
input[type="text"]{
    width: 63%;
    padding: 2px;
}
input[type="submit"]{
    box-sizing: border-box;
    padding: 2px;
}